#btn_csv{
  width: 100px;
  margin-left: 54px;
}

#dropdown_download{
  font-size: 15px;
  width: 17.2em;
}

.feedback-btn{
  position: absolute;
  right: 10px;
  text-decoration: none;
  
}














/***************************** for fixed feedback button on the righ side 
.feedback-btn{
  width: 5.5rem;
  height: 1.5rem;
  padding-top: 1px;
  transform:rotate(-90deg);
  position: fixed;
  right: 0px;
  top: 50%;
  margin-right: -32px;
  border: 0;
  border-radius: 0%;
  color: white;
  background-color: #978bf2;
}

.feedback-btn:hover{
  color: white;
  background: #978bf2;
} */

